<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>管理后台</title>
	<style type="text/css">
		*{margin:0;padding:0;}
	</style>
	<link rel="stylesheet" type="text/css" href="{PROOT}css/common.css">
</head>
	<table class="table_">
		<tr>
			<td>会员编号</td>
			<td>姓名</td>
			<td>电话</td>
			<td>性别</td>
			<td>生日</td>
			<td>积分</td>
			<td>余额</td>
			<td>操作</td>
		</tr>
		{loop $list $k $v}
		<tr>
			<td>{$v['uid']}</td>
			<td>{$v['uname']}</td>
			<td>{$v['phone']}</td>
			<td>{$v['sex']}</td>
			<td>{$v['birthday']}</td>
			<td><a href="{AROOT}:admin&a=point_detail&uid={$v['uid']}">{$v['point_left']}</a></td>
			<td><a href="{AROOT}:admin&a=balance_detail&uid={$v['uid']}">{$v['balance']}</a></td>
			<td><div class="btn1">充值</div></td>
		</tr>
		{/loop}
	</table>
</html>